{% extends "basereadmanga.html" %}


{% block content %}
<style type="text/css">
	.teks{float: right;}
	
</style>
<div class="teks"><a href="/mangalist/BokuNoHero"><button type="button" class="btn btn-xs btn-danger">X</button></a></div>
<div id="canvas">

<div class="zoom-icon zoom-icon-in"></div>
<div class="container-fluid">
	<div class="magazine-viewport">
	<div class="container">
		<div class="magazine">
			<!-- Next button -->
			<div ignore="1" class="next-button">Next</div>
			<!-- Previous button -->
			<div ignore="1" class="previous-button">Prev</div>
		</div>
	</div>
	<div class="bottom">
		<div id="slider-bar" class="turnjs-slider">
			<div class="geser" id="slider"></div>
		</div>
	</div>
</div>
</div>


{% endblock %}

{% block Scripts %}
<script src="/JS/flipbook.js"></script>

{% endblock %}
