{% extends "baseAdmin.html" %}


{% block title %}Admin{% endblock %}

{% block navbar %}
    {% include "navbarAdminLogged.html" %}
{% endblock %}

{%block content%}
		<div class="container">
		    <div class="row col-sm-12">
		        <div class="input-group col-sm-7 col-sm-offset-2">
		           	 <div class="form-top">
                        <div class="form-top-left">
                            <h3>Admin Panel</h3>
                            
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-user-secret"></i>	
                        </div>
                    </div>
                    <div class="form-bottom col-sm-12">
                    	<table class="table">
						    <thead>
						      <tr>
						        <th>Book</th>
						        <th>Status</th>
						        <th>Date Modified</th>
						        <th>Delete</th>
						      </tr>
						    </thead>
                            <tbody>
                                {% set index = 0 %}
                                {% for book in Books %}
                                    {% set index = index + 1 %}
                                    <tr class="success">
                                        <td>{{book.judul}}</td>
                                        <td>{{book.status}}</td>
                                        <td>{{book.author}}</td>
                                        <td><span class="glyphicon glyphicon-remove"></span></td>
                                    </tr>
                                    <!--<div class="col s12 m6 l4">
                                            <div class="card small">
                                                <div class="card-image">
                                                    <img class="materialboxed responsive-img" src="/images/{{user.username}}/{{arra.filename}}">
                                                </div>
                                                <div class="card-action">
                                                        <a class="waves-effect waves-teal btn-flat" href="/Collection/{{user.username}}/edit/{{arra.filename}}"> Edit </a>
                                                        <a class="waves-effect waves-yellow btn-flat" href="/Collection/{{user.username}}/{{arra.filename}}/download"> Download </a>
                                                        <a class="waves-effect waves-red btn-flat modal-trigger" href="#id{{index}}"> Delete</a>
                                                </div>
                                            </div>
                                    </div>
                                        <div id="id{{index}}" class="modal bottom-sheet">
                                                <div class="modal-content">
                                                        <h4>Delete Photo</h4>
                                                        <p><a href="/Collection/{{user.username}}/delete/{{arra.filename}}" class=" modal-action waves-effect waves-light red btn-flat">Yes</a> <a href="#!" class=" modal-action modal-close waves-effect waves-light teal btn-flat">No</a></p>
                                                </div>
                                        </div>-->
                                {% endfor %}
						      <tr class="success">
						        <td>Naruto</td>
						        <td>Finished</td>
						        <td>2 jan 2016</td>
						        <td><span class="glyphicon glyphicon-remove"></span></td>
						      </tr>
						      <tr class>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
						      </tr>
						      <tr class="info">
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
						      </tr>
						    </tbody>
						 </table>
					</div>
                </div>
            </div>
        </div>

{% endblock %}


{% block Scripts %}
    <!--  Scripts-->
      
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
{% endblock %}