{% extends "baseAdmin.html" %}


{% block title %}Admin{% endblock %}

{% block navbar %}
    {% include "navbarAdminLogged.html" %}
{% endblock %}

{%block content%}
			<div class="container">
			    <div class="row col-sm-12">
			        <div class="input-group col-sm-7 col-sm-offset-2">
			           	 <div class="form-top">
                            <div class="form-top-left">
                                <h3>Admin Panel</h3>
                                
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-user-secret"></i>	
                            </div>
                        </div>
                        <div class="form-bottom col-sm-12">
                        	<div class="input-group" >
								 <span class=" input-group-addon glyphicon glyphicon-book" id="basic-addon1"> Comic </span>
								 <select class=" form-control" id="sel1">
								 	<option>Select the comic title</option>
							        <option>Naruto</option>
							        <option>Bleach</option>
							        <option>Boku no Hero</option>
							        <option>Shokugeki no souma</option>
							      </select>
							</div>
							<div class="input-group">
							  <span class="input-group-addon glyphicon glyphicon-bookmark" id="sizing-addon2"> Chapter</span>
							  <input type="text" class="form-control" placeholder="enter the chapter name" aria-describedby="sizing-addon2">
							</div>
							<div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 1">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 2">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 3">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 4">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 5">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 6">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 7">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 8">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 9">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 10">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 11">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 12">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 13">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 14">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 15">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 16">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 17">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 18">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 19">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></button>
						      </span>
						    </div>
						    <div class="input-group">
						      <input type="text" class="form-control" placeholder="Page 20">
						      <span class="input-group-btn">
						        <button class="btn btn-info" type="button"> Browse <span class="glyphicon glyphicon-search"></span></button>
						      </span>
						    </div>
							<div class="form-group-inline">
								<button type="button" class="col-sm-6 btn btn-success">Submit</button>
								<button type="button" class="col-sm-6 btn btn-warning">Cancel</button>
							</div>
				        </div>
				    </div>
				</div>
			</div>

{% endblock %}


{% block Scripts %}
    <!--  Scripts-->
      
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
{% endblock %}