<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/CSS/bootstrap-3.3.6-dist/css/bootstrap.min.css">
       
        <link rel="stylesheet" href="/CSS/admin.css">
         <link rel="stylesheet" href="CSS/form-elements.css">
        <link rel="stylesheet" href="/CSS/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel='stylesheet' href='css/style.css'>
    
        <title>{% block title %}{% endblock %}</title>
    </head>
	<body  data-spy="scroll" data-target=".navbar" data-offset="50">
        <div class="container-fluid">
            
            {% block navbar %}
            
            {% endblock %}
            {% block content %}
            
			{% endblock %}
            		
            {% block footer %}

            {% endblock %}
            
        </div>

		{% block Scripts %}{% endblock %}
	</body>
</html>