<footer id="footerWrapper">
                <section id="mainFooter">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <!--<div class="footerWidget">
                                    <img src="images/neko-logo.png" alt="latest Little Neko news" id="footerLogo">
                                    <p><a href="http://www.little-neko.com" title="Little Neko, website template creation">MangaSource</a> 
                                    is a web design and development studio. We build responsive HTML5 and CSS3 templates, integrating best web design practices and up-to-date web technologies to create great user experiences. We love what we do and we hope you do too! </p>
                                </div>-->
                            </div>
                            <div class="col-sm-3">
                                <div class="footerWidget">

                                    <h3>MangaSource</h3>
                                    <address>
                                        <p> <span class="glyphicon glyphicon-envelope"> little@little-neko.com</a> </p>
                                        </address>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="footerWidget">
                                        <h3>Follow us, we are social</h3>
                                        <ul class="social-network social-circle">
                                            <li><a href="https://www.facebook.com/MangaSourceID" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="footerRights">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Copyright &copy; 2016 MangaSource</a> / All rights reserved.</p>
                                </div>

                            </div>
                        </div>
                    </section>
            </footer>