{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block slider %}
	{% include "slider.html" %}
{% endblock %}

{% block navbar %}
	{% include "navbar.html" %}
{% endblock %}

{% block content %}

<div id="Popular"class="container">
                <div class="row">
                    <div class="col-sm-3 ">
                        <div class="row">
                                <div class="thumbnail">
                                    <img src="/Image/comic-cover.jpg">
                                    <div class="caption">
                                        <h3>Boku No Hero Academia</h3>
                                        <p>Chapter 20</p>
                                        <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-3 ">
                        <div class="row">
                                <div class="thumbnail">
                                    <img src="/Image/comic-cover.jpg">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <p>...</p>
                                        <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-3 ">
                        <div class="row">
                                <div class="thumbnail">
                                    <img src="/Image/comic-cover.jpg">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <p>...</p>
                                        <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                    </div>
                                </div>
                        </div>
                    </div> 
                    <div class="col-sm-3 ">
                        <div class="row">
                                <div class="thumbnail">
                                    <img src="/Image/comic-cover.jpg">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <p>...</p>
                                        <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                        
                    </div>        
        </div>
        
        
        <!--latest update-->
        <div class="container-fluid">
                <div class="row jumbotron"  id="Latest">
                        <h2 class="page-header">Our Latest Update</h2>
                        <blockquote>
                            <footer style="color:white;">Keep in touch with our latest Manga Update</footer>
                        </blockquote>
                        
                        
                        <div class="col-md-12 ">
                            <div class="row panel list-group scroll col-md-12">
                                    <div class="list-group-item col-md-12" >
                                        <div class="col-md-3">
                                            <img src="Image/comic-cover.jpg" width="150" height="150">
                                        </div>
                                        <div>
                                            <h3>Boku No Hero Academia <span class="label label-danger">Updated</span></h3>
                                            <h4><i>ALL Might vs Naruto</i></h4>
                                            <p>Chapter 20</p>
                                            <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                        </div>
                                    </div>
                                    <div class="list-group-item col-md-12" >
                                        <div class="col-md-3">
                                            <img src="Image/comic-cover.jpg" width="150" height="150">
                                        </div>
                                        <div>
                                            <h3>Boku No Hero Academia <span class="label label-danger">Updated</span></h3>
                                            <h4><i>ALL Might vs Naruto</i></h4>
                                            <p>Chapter 20</p>
                                            <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                        </div>
                                    </div>
                                    <div class="list-group-item col-md-12" >
                                        <div class="col-md-3">
                                            <img src="Image/comic-cover.jpg" width="150" height="150">
                                        </div>
                                        <div>
                                            <h3>Boku No Hero Academia <span class="label label-danger">Updated</span></h3>
                                            <h4><i>ALL Might vs Naruto</i></h4>
                                            <p>Chapter 20</p>
                                            <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                        </div>
                                    </div>
                                    <div class="list-group-item col-md-12" >
                                        <div class="col-md-3">
                                            <img src="Image/comic-cover.jpg" width="150" height="150">
                                        </div>
                                        <div>
                                            <h3>Boku No Hero Academia <span class="label label-danger">Updated</span></h3>
                                            <h4><i>ALL Might vs Naruto</i></h4>
                                            <p>Chapter 20</p>
                                            <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                        </div>
                                    </div>
                                    <div class="list-group-item col-md-12" >
                                        <div class="col-md-3">
                                            <img src="Image/comic-cover.jpg" width="150" height="150">
                                        </div>
                                        <div>
                                            <h3>Boku No Hero Academia <span class="label label-danger">Updated</span></h3>
                                            <h4><i>ALL Might vs Naruto</i></h4>
                                            <p>Chapter 20</p>
                                            <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                        </div>
                                    </div>
                                    <div class="list-group-item col-md-12" >
                                        <div class="col-md-3">
                                            <img src="Image/comic-cover.jpg" width="150" height="150">
                                        </div>
                                        <div>
                                            <h3>Boku No Hero Academia <span class="label label-danger">Updated</span></h3>
                                            <h4><i>ALL Might vs Naruto</i></h4>
                                            <p>Chapter 20</p>
                                            <p><a href="#" class="btn btn-primary" role="button">Read Now</a></p>
                                        </div>
                                    </div>
                                    
                            </div>
                        </div>
                        
                </div>
            </div>
            <!--Manga list-->
            <div id="mangaList" class="container-fluid">
                    <div class="row jumbotron">
                        <div class="col-sm-4">
                            <img src="Image/MangaList.jpg">
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <blockquote>
                                <h2>Check your needs in our MangaList</h2>
                                <footer>MangaSource</footer> 
                                 
                            </blockquote>
                            <a href="/mangalist"><button class="btn btn-success">Go To Manga List</button></a>
                        </div>
                    </div>
            </div>
            <div id="aboutUs" class="container">
                <div class="row col-sm-12">
                    <blockquote class="aboutUs-title">
                        <h2>About Us</h2>
                    </blockquote>
                </div>
                <div class="row col-sm-12">
                    <figure class="thumbnail cap-bot col-sm-4">
                        <img class="img-circle"src="Image/download.jpg">
                        <div class="caption aboutUs-box">
                            <figcaption>
                                    <h3 class="aboutUs-name"><b>Kevin Suwantio</b></h3>
                                    <blockquote>
                                    <h4>Keep Moving Forward</h4>
                                </blockquote>
                            </figcaption>
                        </div>
                    </figure>
                    <figure class="thumbnail cap-bot col-sm-4">
                        <img class="img-circle"src="Image/download.jpg" >
                        <div class="caption">
                            <figcaption>
                                    <h3 class="aboutUs-name"><b>Kevin Suwantio</b></h3>
                                    <blockquote>
                                    <h4>Keep Moving Forward</h4>
                                </blockquote>
                            </figcaption>
                        </div>
                    </figure>
                    <figure class="thumbnail cap-bot col-sm-4">
                        <img class="img-circle"src="Image/download.jpg" >
                        <div class="caption">
                            <figcaption>
                                    <h3 class="aboutUs-name"><b>Kevin Suwantio</b></h3>
                                    <blockquote>
                                    <h4>Keep Moving Forward</h4>
                                </blockquote>
                            </figcaption>
                        </div>
                    </figure>
                </div>
                
                 <div class="row col-sm-12">
                    <figure class="thumbnail cap-bot col-sm-4">
                        <img class="img-circle"src="Image/download.jpg">
                        <div class="caption aboutUs-box">
                            <figcaption>
                                    <h3 class="aboutUs-name"><b>Kevin Suwantio</b></h3>
                                    <blockquote>
                                    <h4>Keep Moving Forward</h4>
                                </blockquote>
                            </figcaption>
                        </div>
                    </figure>
                    <figure class="thumbnail cap-bot col-sm-4">
                        <img class="img-circle"src="Image/download.jpg" >
                        <div class="caption">
                            <figcaption>
                                    <h3 class="aboutUs-name"><b>Kevin Suwantio</b></h3>
                                    <blockquote>
                                    <h4>Keep Moving Forward</h4>
                                </blockquote>
                            </figcaption>
                        </div>
                    </figure> 
                </div>    
            </div>
	
{% endblock %}

{% block footer %}
	{% include "footer.html" %}
{% endblock %}

{% block Scripts %}
	<!--  Scripts-->
	  
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
{% endblock %}

