{% extends "base.html" %}


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

<style type="text/css">
    .sort_list{padding:10px 5px;}
    .sort_list a{color:#fff; display:inline-block; background-color:#21a6d1; margin:0 5px 5px 0; width:20px; height:20px; text-align:center;}

</style>


<div class="container-fluid">
    <div class="container-fluid">

        <div class="row jumbotron"  id="Latest">
            <div class="page-header">
                <h1>Manga List</h1>
                <div class="sort_list">
                    {% set alphabet=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'] %}
                    {% for ch in alphabet %}
                        <a href="#tag_{{ch}}">{{ch}}</a>
                    {% endfor %}
                </div>
            </div>
          <div class="col-md-12 ">
              <div class="row panel list-group scroll col-md-12">
                    <div class="container theme-showcase" role="main">
                        <div class="row">
                            <div class="col-md-6">
                                {% for ch in alphabet %}
                                    <table class="table table-striped">

                                    <thead>
                                        <h3 id="tag_{{ch}}">{{ch}}</h3>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Author</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set i=1 %}
                                        {% for book in Books|sort(false,false,'judul') %}
                                            {% set init = getInitial(book.judul)|upper %}
                                            {% if ch == init %}
                                                <tr>
                                                    <td>{{i}}</td>
                                                    <td><a href="/mangalist/{{book.judul}}">{{book.judul}}</a></td>
                                                    <td>{{book.author}}</td>
                                                <tr>
                                            {% endif %}
                                                
                                            {% set i=i+1 %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
              </div>
          </div>       
        </div>
    </div>

</div>
{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
{% block Scripts %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
 {% endblock %}   
