{% extends "base.html" %}


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

<style type="text/css">
    .sort_list{padding:10px 5px;}
    .sort_list a{color:#fff; display:inline-block; background-color:#21a6d1; margin:0 5px 5px 0; width:20px; height:20px; text-align:center;}

</style>


<div class="container-fluid">
    <div class="container-fluid">

        <div class="row jumbotron"  id="Latest">
            <div class="page-header">
                <h1>Manga List</h1>
                <div class="sort_list">
                        <a href="#tag_#">#</a><a href="#tag_A">A</a><a id="cool-link" href="#tag_B">B</a><a href="#tag_C">C</a><a href="#tag_D">D</a><a href="#tag_E">E</a><a href="#tag_F">F</a><a href="#tag_G">G</a><a href="#tag_H">H</a><a href="#tag_I">I</a><a href="#tag_J">J</a><a href="#tag_K">K</a><a href="#tag_L">L</a><a href="#tag_M">M</a><a href="#tag_N">N</a><a href="#tag_O">O</a><a href="#tag_P">P</a><a href="#tag_Q">Q</a><a href="#tag_R">R</a><a href="#tag_S">S</a><a href="#tag_T">T</a><a href="#tag_U">U</a><a href="#tag_V">V</a><a href="#tag_W">W</a><a href="#tag_X">X</a><a href="#tag_Y">Y</a><a href="#tag_Z">Z</a><a href="#tag_0">0</a><a href="#tag_1">1</a><a href="#tag_2">2</a><a href="#tag_3">3</a><a href="#tag_4">4</a><a href="#tag_5">5</a><a href="#tag_6">6</a><a href="#tag_7">7</a><a href="#tag_8">8</a><a href="#tag_9">9</a>  
                </div>
            </div>
          <div class="col-md-12 ">
              <div class="row panel list-group scroll col-md-12">
                                    
                                    <div class="container theme-showcase" role="main">

                                        

                                        <div class="row">

                                            <div class="col-md-6">

                                                <table class="table table-striped">

                                                    <thead>

                                                        <tr>

                                                            <th>#</th>
                                                            <th>Title</th>
                                                            <th>Author</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr>

                                                            <td>1</td>
                                                            <td><a href="/BokuNoHero">Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                            
                                                        
                                                        <tr>
                                                          
                                                        </tr>
                                                        

                                                            <td>2</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                
                                                        </tr>

                                                        <tr>

                                                            <td>3</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>3</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>4</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>5</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>6</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>


                                                        <tr>

                                                            <td>7</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>8</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>9</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>10</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>11</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>12</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr>

                                                            <td>13</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>


                                                        <tr>

                                                            <td>14</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                        <tr id="tag_B">

                                                            <td>15</td>
                                                            <td><a>Boku No Hero Academia</a></td>
                                                            <td>Horikoshi Kouhei</td>
                                                              
                                                        </tr>

                                                    </tbody>

                                                </table>

                                            </div>
                                        </div>

                                    </div>

                                    
              </div>
          </div>
                        
        </div>
    </div>

</div>
{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
{% block Scripts %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
 {% endblock %}   
