{% extends "base.html" %}


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}

<style type="text/css">
    .sort_list{padding:10px 5px;}
    .sort_list a{color:#fff; display:inline-block; background-color:#21a6d1; margin:0 5px 5px 0; width:20px; height:20px; text-align:center;}

</style>


<div class="container-fluid">
    <div class="container-fluid">

        <div class="row jumbotron"  id="Latest">
            <div class="page-header">
                <h1>Search Result</h1>
            </div>
          <div class="col-md-12 ">
              <div class="row panel list-group scroll col-md-12">
                    <div class="container theme-showcase" role="main">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Author</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set i=1 %}
                                        {% for book in Books|sort(false,false,'judul') %}
                                            <tr>
                                                <td>{{i}}</td>
                                                <td><a href="/mangalist/{{book.judul}}">{{book.judul}}</a></td>
                                                <td>{{book.author}}</td>
                                            </tr>
                                            {% set i=i+1 %}
                                        {% else %}
                                            <tr>
                                                <td colspan="3">Hasil pencarian kosong!</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
              </div>
          </div>       
        </div>
    </div>

</div>
{% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
{% block Scripts %}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="/JS/jquery.min.js"></script>
    <script src="/JS/bootstrap.min.js"></script>
 {% endblock %}   
